<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AWS IAM Credentials Broker</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <style>
        /*[class*="col-"] {
            margin-bottom: 15px;
        }

        [class*="card-group"] {
            margin-bottom: 15px;
        }*/
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            AWS IAM Credentials Broker
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 15px">
    <div class="row">
        <th:block th:each="arnRole : ${securityDetails.arnRoles}">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header" th:text="${arnRole}">arn:aws:iam::XXXX:role/MOCK</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-6 justify-content-center">
                                <button th:data-arn="${arnRole}" onclick="redirectToWebConsole(this);" type="button"
                                        class="btn btn-block btn-outline-warning">
                                    Open Web Console
                                </button>
                            </div>
                            <div class="col col-6 justify-content-center">
                                <button th:data-arn="${arnRole}" onclick="getAwsCredentials(this);" type="button"
                                        class="btn btn-block btn-outline-primary">Get Credentials
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.js}"></script>
<script>
    function getAwsCredentials(obj) {

        console.log('getAwsCredentials called for -> ' + $(obj).data('arn'));
        let originalContent = disableButtonHandler(obj);

        let request = $.ajax({
            url: "/get/aws/credentials?role_arn=" + $(obj).data('arn'),
            type: "GET",
            cache: false
        });

        request.done(function (content) {
            console.log(content);
            console.log(typeof content);
            let data = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(content));
            let link = document.createElement('a');
            link.setAttribute("href", data);
            link.setAttribute("download", "credentials.json");
            link.click();
            link.remove();
            enableButtonHandler(obj, originalContent);
        });

        request.fail(function (jqXHR, textStatus) {
            console.log("Unable to get the credentials")
            alert("Request failed: Unable to get the credentials: Status: " + textStatus);
        });
    }

    function redirectToWebConsole(obj) {
        console.log('redirectToWebConsole called for -> ' + $(obj).data('arn'));
        disableButtonHandler(obj);

        let request = $.ajax({
            url: "/get/aws/sign-in/url?role_arn=" + $(obj).data('arn'),
            type: "GET",
            cache: false
        });

        request.done(function (content) {
            window.location.replace(content);
        });

        request.fail(function (jqXHR, textStatus) {
            console.log("Unable to get the console url")
            alert("Request failed: Unable to get the console url: Status: " + textStatus);
        });
    }

    function disableButtonHandler(obj) {
        $(obj).prop('disabled', true);
        let originalHtmlContent = $(obj).html();
        $(obj).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        return originalHtmlContent;
    }

    function enableButtonHandler(obj, originalContent) {
        $(obj).prop('disabled', false);
        $(obj).html(originalContent);
    }
</script>
</body>
</html>